.flikr-box .search-panel{
	padding: 10px;
	position: relative;
}
.flikr-box .image-area {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

.flikr-box .image-area .image-box {
	width: 200px;
}

.flikr-box .image-area .image-box img {
	width: 100%;
}

.flickr-sort {
	width: 60px;
}

.wait {
	position: absolute;
	top: calc(50% - 64px);
	left: calc(50% - 64px);
	display: none;
}